<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вступление</title>
</head>
<body>

<style>
    body {
            background-color: #2d521a;
            font-family: Arial, Helvetica, sans-serif;
            margin: 15px;
        }
</style>
<a href="{{ url_for('kostymi') }}">Костюмы и их описание.</a>
<a href="{{ url_for('plastini') }}">Пластины и их описание</a>
<p1>Привет искатель! Это сайт-wiki по STALCRAFT.
    На этом сайте я покажу и опишу комбинированые костюмы сталкеров от "Горка-3" до "Скиф-5", также пластины и их характеристики.</p1>




































</body>
</html>